
.progress_bar__container{
   width: 612px;
   height: 94vh;
}

.progress_bar__ui{
   position: absolute;
   border-radius: 8px 0 0 8px;
   bottom: 0;
   left: 0;
   height: 2px;
   background-color: #fff;
}